html, body {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	text-align: center;
 	min-height:100%;
 	height: 100%;
}

ol li ol{margin: 10px 0;}
ol li ol li{margin-left: 15px;}

h1 {
	font-size: 28pt;
	letter-spacing: 12px;
	border-bottom: 1px solid #ddd;
	margin: 0;
    margin-bottom: 15px;
}

input[type=text]:focus, input[type=password], textarea:focus{
    background: #feffd3;
    border: 1px solid red;
}

h2.subtitle {
	margin-top: 0px;
}

#countdown_dashboard {
	height: 110px;
}

.dash {
	width: 110px;
	height: 114px;
	background: transparent url('../images/dash.png') 0 0 no-repeat;
	float: left;
	margin-left: 20px;
	position: relative;
}

.dash .digit {
	font-size: 55pt;
	font-weight: bold;
	float: left;
	width: 55px;
	text-align: center;
	font-family: Times;
	color: #555;
	position: relative;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	font-size: 9pt;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.dev_comment {
	font-size: 14pt;
	color: #FFFFFF;
	text-align: center;
	font-style: italic;
	margin: 40px 10px;
	margin-bottom: 0px;
}
.logo{
    z-index: 1000;
}

.dev_comment {
    font-size: 14pt;
    color: white;
    text-align: center;
    font-style: italic;
    margin: 40px 10px;
    margin-bottom: 0px;
}

.dev_comment h3 {
    font-size: 12pt;
    letter-spacing: 0;
    margin: 0;
    margin-bottom: 5px;
    color: #E00;
}

.sponsors{margin-left: 10px}

.containerspon {
    color: #FFFFFF;
    display: block;
    float: left;
    height: 200px;
    margin: 25px 10px 0 0;
    overflow: hidden;
    position: relative;
    width: 220px;
    z-index: 1000;
}

#copyright{
    margin-bottom: -35px;
    margin: 20px 0 -35px;
    font-size: 10px;
}

#copyright a{
    text-decoration: none;
    font-size: 11px;
    color: #aaa;
}

.containerspon img{
    width: 200px;
    height: 200px;
}


.containerspon .transparency  {
    opacity:0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    background-color:#000000;
    width:792px;
    height:1500px;
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
}

.spon {
    left: 50%;
    margin-left: -400px;
    padding-top: 290px;
    position: absolute;
    width: 900px;
    z-index: 1000;
}

#container {
    padding:10px 46px 46px;
    color:#FFFFFF;
    position:relative;
    float:left;
    overflow:hidden;
    width: 700px
}

#container .transparency  {
    opacity:0.7;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    background-color:#000000;
    width:792px;
    height:15000px;
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
}

.content  {
    position:relative;
}
.content p {
    text-align: justify;
    text-indent: 20px;
    font-size: 15px;
}

.content h2{
    font-size: 20px;
    padding: 10px 0;
}

.content a {
    text-decoration: underline;
    color: #EE0000;
}

.content a:hover {
    text-decoration: underline;
    color: #EE0000;
}
.content ul{
text-align:left;
}
br { clear: both; }
.cntSeparator {
        font-size: 54px;
        margin: 10px 7px;
        color: #FFF;
      }
.counter{ margin-left: 100px;}
.desc { margin: 7px 3px 7px 120px; }
.desc div {
        float: left;
        font-family: Arial;
        width: 70px;
        margin-right: 65px;
        font-size: 13px;
        font-weight: bold;
        color: #FFF;
      }
/* this is the CSS for the menu that you will need. */
#menu_holder {
    z-index: 1000;
	height: 54px;
	display: block;
	position: absolute;
	top: -54px;
    left: 50%;
    margin-left: -350px;
}
#nav {
	height: 57px;
	width: 792px;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/right.png);
	background-repeat: no-repeat;
	background-position: right;
}
#hit_area {
    z-index: 1000;
	height: 120px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: block;
}
#hit_area2 {
    z-index: 1000;
	width:700px;
	left:50%;
	padding: 0px;
	display: block;
	position: absolute;
	margin: 0px;
	margin-left:-350px;
	top: 160px;
}
#nav ul {
	margin: 0px;
	padding: 0px 0px 0px 21px;
	height: 57px;
	list-style-type: none;
	background-image: url(../images/left.png);
	background-repeat: no-repeat;
}
#nav li{
	margin: 0px;
	padding: 0px;
	float: left;
}
#nav li a:link, #nav li a:active, #nav li a:visited {
	background-image: url(../images/middle.png);
	background-repeat: repeat-x;
	height: 54px;
	width: 150px;
	display: block;
	line-height: 54px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 120%;
}
#nav li a:focus, #nav li a:hover{
	text-decoration : none;
	-moz-outline:0;
	color: #EE0000;
	box-shadow: 3px 3px 50px #EE0000;
	background-image: url(../images/rollOver.png);
	background-repeat: repeat-x;
}
#YMapsID{
    background-color:#000000;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:500;
}
#share42 {
  display: inline-block;
  padding: 6px 0 0 6px;
}
#share42:hover {
}
#share42 a {opacity: 0.5;}
#share42:hover a {opacity: 0.7}
#share42 a:hover {opacity: 1}

.rules{
    text-align: left;
}
.rules OL { counter-reset: item }
.rules LI { display: block }
.rules LI:before { content: counters(item, ".") " "; counter-increment: item; color: red;}

input[type=submit], button{
    text-align: center;
}

input[type=text],input[type=password]{
    font-size: 17px;
    height: 26px;
}

.delete-icon{
    width: 16px;
    height: 16px;
    background: url('../images/delete-icon.png') no-repeat;
    display: block;
    float: right;
}

.save-icon{
    width: 24px;
    height: 24px;
    background: url('../images/save-icon.png') no-repeat;
    display: block;
    border: 0;
    float: left;
}

.edit-icon{
    width: 16px;
    height: 16px;
    background: url('../images/edit-icon.png') no-repeat;
    display: block;
    float: right;
}

.adminauth label{
    display: block;
    margin: 5px 0;
    font-weight: bold;
}

.adminauth input{

    text-align: center;
}

.adminauth input[type=submit]{
    margin-top:15px;
}

.new-task label{
    display: block;
    margin: 5px 0;
    font-weight: bold;
}

.new-task textarea, .new-task input[type=text]{
    width: 100%;
}

.new-task .answer-block input{text-align: center;}

.new-team label{
    display: block;
    margin: 5px 0;
    font-weight: bold;
}

.new-team .maininfo{
    margin-bottom: 15px;
}

.new-team .maininfo .param{
    float: left;
    margin-right: 10px;
}

.new-team .maininfo input{
    width: 100%;
    text-align: center;
}



.new-team .maininfo .param.teamname{width: 275px;}
.new-team .maininfo .param.email{width: 250px;}
.new-team .maininfo .param.password{width: 145px;}


.new-team .tasks .task{
    width: 213px;
    margin: 0 0 15px 15px;
    float: left;
}

.new-team .tasks .task select{
    width: 80%;
}

.new-team .players .player{
    width: 203px;
    margin: 0 0 15px 15px;
    float: left;
    border: 1px solid #aaa;
    padding: 5px;
}

.new-team .players .player .header{
    color: #72bef7;
    display: block;
    padding-bottom: 2px;
    width: 100%;
    border-bottom: 1px solid #aaa;
}

.new-team .players .player input{
    width: 100%;
    text-align: center;
}


.new-task .answer-block .param{
    float: left;
}

.new-task .answer-block .param.answer{
    width: 508px;
    margin-right: 20px;
}

.new-task .answer-block .param.code{
    width: 100px;
}

.list{
    width: 100%;
    border: 1px solid #aaa;
    padding: 2px;
}

.list tr{border-bottom: 1px solid #aaa}
.list td, .list th{padding: 10px}

.team-list .team-position{
    width: 45px;
    text-align: center;
    height: 18px;
    font-size: 12px;
}

.list-buttons .save-icon{
    margin-left: 74px;
}

.list-buttons{margin-top: 5px}
.list-buttons .new-link{
    float: right;
    display: block;
}

.admin-content a{
    color: #ddd;
    text-decoration: none;
    font-weight: bold;
}

.admin-content a:hover{
    color: #bababa;
    text-decoration: none;
}

.new-task .param{
    margin-bottom: 10px
}

.new-task .param textarea{height: 100px}


.current-task{
    float: left;
    width: 400px;
}

.current-task .task{
    border: 1px solid #aaa;
    padding: 5px;
}

.current-task .hint{
    border-bottom: 1px solid #aaa;
    padding:10px 0;
}


.current-task .hint-header{
    display: block;
    text-align: center;
}

.tasks{
    float: right;
    width: 260px;
}

.tasks .task{
    border: 1px solid #aaa;
    padding: 5px 0;
    text-align: left;
}

.tasks .task .task-name{
    display: inline-block;
    width: 100px;
    padding-left: 20px;
}

.team-information{
    width: 260px;
    float: right;
    margin-top: 10px;
}

.team-information .place span{
    font-weight: bold;
}

.answer-block{
    width: 400px;
    margin-top: 20px;
}